<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="text">Login</div>
      <div class="underline"></div>
    </div>
    <form action="/login" method="post" class="inputs">
      <div class="input">
        <img src="{{ url_for('static', filename='Assets/person.png') }}" alt="User Icon" />
        <input type="email" name="email" placeholder="Email ID" required />
      </div>
      <div class="input">
        <img src="{{ url_for('static', filename='Assets/password.png') }}" alt="Password Icon" />
        <input type="password" name="password" placeholder="Password" required />
      </div>
      <div class="forgot-password">
        Forgot Password? <span>Click Here!</span>
      </div>
      <div class="submit-container">
        <a href="{{ url_for('register') }}" class="submit">Register</a>
        <button type="submit" class="submit gray">Login</button>
      </div>
    </form>
  </div>
</body>
</html>